<h1>Albums!</h1>
<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>
<p>
  <strong>Artist Name:</strong>
  <%= @album.artist_name %>
</p>
<p>
  <strong>Year Realeased:</strong>
  <%= @album.year_released %>
</p>

<%= link_to 'Back', albums_path%>